{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb bg-secondary">
    <ol class="breadcrumb pr-0 pl-0">
        <li class="breadcrumb-item" aria-current="page"><span class="font-italic">System</span></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light pr-0 pl-0 mb-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
        aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="nav nav-pills mr-auto">
            <li class="nav-item">
                <a class="btn btn-outline-secondary" href="{{ url_for('create_user') }}" role="button">Create user</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Поиск">
        </form>
    </div>
</nav>

<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="">{{ user.username }}</a>
        <span>
            {% for role in user.roles %}
            <span class="badge badge-primary badge-pill">{{ role.rolename }}</span>
            {% endfor %}
        </span>
    </li>
    {% endfor %}
</ul>

{% endblock %}