form {
    margin-bottom: 0px;
}

.row_confirm {
    margin: 0;
}

.breadcrumb {
    background-color: #f8f9fa !important;
}

.main_alert {
    margin-bottom: 0px;
}

.email_label {
    width: 86px;
}

.password_label {
    width: 86px;
}

.create_user_lable {
    width: 90px;
}

.create_user .card-header {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: #495057;
    padding: 5.25px 10px;
}

.create_user .card {
    border-color: #ced4da;
}

.perms_header {
    padding-left: 10px;
}

.profile_lable {
    width: 140px;
}