form {
    margin-bottom: 0px;
}

.row_confirm {
    margin: 0;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
}

.main_alert {
    margin-bottom: 0px;
}

.email_label {
    width: 86px;
}

.password_label {
    width: 86px;
}